* {
    box-sizing: border-box;
}

body {
    background: #ccc;
    font-family: rubik;
}

.container {
    width: 70%;
    margin: 0px auto;
}

#photo-header {
    background-image: url('../assets/background.png');
    height: 300px;
    display: table;
    width: 100%;
    background-size: cover;
}

#photo-text {
    color: white;
    font-size: 100px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 5px 5px #555;
    background: rgba(255, 255, 255, 0.08);
}

#text {
    background: rgba(255, 255, 255, 0.8);
    padding: 5% 0px;
    margin: 50px auto; 
    max-width: 600px;
}

.headings {
    letter-spacing: 0.5px;
    margin: 15px;
    font-weight: bold;
}

h1, h2 {
    text-align: center;
}

h1 {
    color: blue;
    font-size: 30px;
}

h2 {
    color: darkblue;
    font-size: 22px;
}

img {
    height: 200px;
    padding: 10px;
    border: solid 10px black;
    transition: 1s ease-in-out;
    margin: 30px auto;
}

img:hover {
    border: solid 5px black;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
}

#headshot {
    display: block;
    margin: 10px auto 30px;
}

p {
    color: navy; 
    text-align: justify; 
    line-height: 23px
}

#about {
    min-height: 800px;
    padding: 10px;
    background-image: url('https://images.unsplash.com/photo-1504358958476-e5881667ddf3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3e11a41873e6ae2e0b42987496562f4a&auto=format&fit=crop&w=1650&q=80');
    background-size: cover;
}

#about .container {
    background: white;
    padding: 10px;
}

#contact {
    min-height: 300px;
    padding: 10px;
    text-align: center;
    background-image: linear-gradient(darkorchid, white);
}

ul {
    list-style: none; 
    padding-left: 0px;
}

li {
    margin: 10px;
}

a {
    color: darkorchid
}

a:hover {
    text-decoration: line-through;
}

a:visited {
    color: #222;
}

a:active {
    color: red;
}

a:focus {
    background-color: goldenrod;
}

.icon-circle {
    padding: 10px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    transition: 1s ease;
}

#github:hover {
    background: #6e5494;
    fill: white;
}

#linkedin:hover {
    background: #0077B5;
    fill: white;
}

#email:hover {
    background: #B23121;
    fill: white;
}